@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #E6A8AF;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #C0A8E6;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #DAAFF0;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #F0AFD7;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #D7A9DA;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
